<!DOCTYPE html>
<html>
	<head>
		<title>图像识别OCR</title>
	</head>	
	<body>
		<h1>图像识别OCR</h1>
		<div align="left" style="color:red">
			@程序版本：{{ version }}
		</div>	
		<hr>
		<h2>图片OCR识别 Base64方式</h2>
		<form action="/ocr.64" method="POST">
			<table>
				<tr>
					<td>识别图片</td>
					<td><input type="file" id="upload_file" multiple="multiple" />
					</td>
				</tr>
				<tr>
					<td>图片Base64编码</td>
					<td>
						<textarea id="base64_output" name="image" style=" width:820px"></textarea>
					</td>
				</tr>								
				<tr>
					<td></td>
					<td><input type="submit" value="识别"/></td>
				</tr>
			</table>
		</form>
		<hr>
		<h2>图片OCR识别  文件方式</h2>
		<form action="/ocr" enctype="multipart/form-data"  method="POST">
			<table>
				<tr>
					<td>识别图片</td>
					<td><input type="file" name="image" multiple="multiple" />
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="识别"/></td>
				</tr>
			</table>
		</form>
	</body>
	<!-- <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"> -->
	<script type="text/javascript">
	    document.getElementById("upload_file").onchange = function () {
	        gen_base64();
	    };
	    function $_(id) {
	            return document.getElementById(id);
	    }
	    function gen_base64() {
	        var file = $_('upload_file').files[0];
	        r = new FileReader();  //本地预览
	        r.onload = function(){
	            $_('base64_output').value = r.result;
	        }
	        r.readAsDataURL(file);    //Base64
	    }
	</script>
</html>